@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@layer overrides {
    .repo_banner,
    footer {
        background: var(--highlight-color) !important;
    }
}
:root,
* {
    --highlight-color: #f7d654 !important;
    --link-color: #fd8041 !important;
    --title-fg: #faaa4a !important;
    --font-face: "Comfortaa", sans-serif;
    --main-font: Comfortaa, Comfortaa override, ui-sans-serif, system-ui,
        -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
        Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol, Noto Color Emoji !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Quicksand", sans-serif;
}
.artifacts {
    background-color: unset !important;
}
.logo {
    max-width: 30rem !important;
}
h1.title {
    display: none;
}

#menu-bar {
    background-color: red !important;
}
