[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The archive format to use for windows builds (defaults .zip)
windows-archive = ".zip"
# Whether failing tasks should make us give up on all other tasks
fail-fast = true
# Whether to enable GitHub Attestations
github-attestations = true
# Global artifacts jobs to run in CI
global-artifacts-jobs = ["./build-man"]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.2"
# Which actions to run on pull requests
pr-run-mode = "plan"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell", "powershell"]
# Customize the Homebrew formula name
formula = "yolk"
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu", "x86_64-unknown-linux-musl", "x86_64-pc-windows-msvc"]
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Whether to install an updater program
install-updater = false
# Skip checking whether the specified configuration files are up to date
allow-dirty = ["ci"]

[dist.github-custom-runners]
# Use an `ubuntu-latest` runner for all "global" steps of the release process,
# rather than cargo-dist's default of using the oldest possible Linux runner.
# This includes `plan`, `build-global-artifacts`, `host`, and `announce`, none
# of which actually rely on the specific Linux version.
global = "ubuntu-latest"
local = "ubuntu-latest"
x86_64-unknown-linux-gnu = "ubuntu-latest"
